/* Ported grid styles from web version for screens view */
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0fr));
    gap: 0 20px;
    justify-content: center;
    padding: 20px;
}

.grid-container .online{
    order: 1;
}

.grid-container .offline{
    order: 2;
}

.grid-item{
    padding: 0;
    padding-bottom: 10px;
    text-align: center;
    box-sizing: border-box;
    width: fit-content;
}

.grid-item-buttons .btn{
    margin-right: 2px;
    padding-bottom: 8px;
}

.grid-item-content-iframe, .overlay{
    width: 300px;
    height: 170px;
}

.grid-item-content-header-name{
    font-size: 17px;
    font-weight: 500;
}

.grid-item-content-header{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.offline .grid-item-content-header {
    color: gray !important;
}

.overlay{
    width: 300px;
    position: absolute;
}

.offline .btn{
    background-color: #d5d5d5;
    color: white;
    border: gray;
}

.extra-item-buttons > ul > li{
    margin: 0 0 5px 5px;
}

.extra-item-buttons > ul{
    min-width: auto;
    padding-bottom: 3px;
}
